<div class="card" appHighlight [appClick]="'yellow'">
  <div class="card-body">
    <p><b>Name:</b> {{item.getProduct().name}}</p>
    <p><b>Description:</b> {{item.getProduct().description}}</p>
    <p><b>Price:</b> {{item.getProduct().price}}</p>
    <p><b>Quantity:</b> {{item.getQuantity()}}
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <button class="btn btn-primary" (click)="onQuantityIncrease()">+</button>
      <button class="btn btn-secondary" (click)="onQuantityDecrease()">-</button>
      <button class="btn btn-danger" (click)="onDeleteItem()">Remove</button>
    </div>
  </div>
</div>
