<div class="container">
  <div *ngIf="getCartItems().length; then cartItems else emptyCart"></div>
  <ng-template #cartItems>
    <app-cart-item class="row gy-5"  *ngFor="let cartItem of getCartItems(); trackBy: trackByCartItem"
      [item]="cartItem"
      (quantityDecrease)="onQuantityDecrease($event)"
      (quantityIncrease)="onQuantityIncrease($event)"
      (deleteItem)="onDeleteItem($event)">
    </app-cart-item>
    <p><b>Sum:</b> {{getCartSum()}}</p>
    <p><b>Quantity:</b> {{getCartQuantity()}}</p>
  </ng-template>
  <ng-template #emptyCart>
    <p>Cart is empty</p>
  </ng-template>
</div>
